################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SorWpfApp/bin/Debug/net8.0-windows
/SorWpfApp/obj
